@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-gray: #F6F7F9;
    --color-blue: #0077FF;
    --color-primary-text: #313131;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: 'Mons', sans-serif;
}

html {
    font-size: 0.052vw;
}

/* .container {
    @apply px-[19rem]
} */

.center {
    @apply flex justify-center items-center
}

.jost {
    font-family: "Jost", sans-serif;
    font-style: normal;
}

.mons {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}